<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input 
    #query
    (keyup)="filter(query.value)"
    class="form-control" 
    type="text"
    placeholder="Search...">
</p>
<table class="table">
  <thead>
    <tr>
      <td>Product</td>
      <td>Price (INR)</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProduct">
      <td>{{ p.title }}</td>
      <td><i class="fa fa-inr"></i> {{ p.price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
